* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

.list {
  padding: 18px;
  list-style: none;
  text-align: center;
  background-color: #151515;
}

.list-item {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline;
  padding: 80px;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  top: 560px;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  text-align: center;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  background: black;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -0px;
  text-align: center;
}
