body {
  background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 210px;
}

a {
  text-align: center;
  font-size: 150px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

a:nth-child(1) {
  font-family: "Monoton";
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000,
      0 0 70px #ff1177, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0000,
      0 0 35px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 75px #ff0000;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000,
      0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0000,
      0 0 35px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 75px #ff0000;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #8b0000,
      0 0 70px #8b0000, 0 0 80px #8b0000, 0 0 100px #8b0000, 0 0 150px #8b0000;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #8b0000,
      0 0 35px #8b0000, 0 0 40px #8b0000, 0 0 50px #8b0000, 0 0 75px #8b0000;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #8b0000,
      0 0 70px #8b0000, 0 0 80px #8b0000, 0 0 100px #8b0000, 0 0 150px #8b0000;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #8b0000,
      0 0 35px #8b0000, 0 0 40px #8b0000, 0 0 50px #8b0000, 0 0 75px #8b0000;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #dc143c,
      0 0 70px #dc143c, 0 0 80px #dc143c, 0 0 100px #dc143c, 0 0 150px #dc143c;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #dc143c,
      0 0 35px #dc143c, 0 0 40px #dc143c, 0 0 50px #dc143c, 0 0 75px #dc143c;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffc0cb,
      0 0 70px #ffc0cb, 0 0 80px #ffc0cb, 0 0 100px #ffc0cb, 0 0 150px #ffc0cb;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffc0cb,
      0 0 35px #ffc0cb, 0 0 40px #ffc0cb, 0 0 50px #ffc0cb, 0 0 75px #ffc0cb;
  }
}
